# Ignore compiled files
*.class
*.jar
*.war
*.ear

# Ignore package files
*.zip
*.tar
*.gz

# Ignore log files
*.log
*.log.*
*.log?

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore node_modules directory
/node_modules/
/internal/node_modules/
/html/node_modules/

# Ignore IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore Node.js package lock file
package-lock.json