<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <button hx-get="/calender" hx-trigger="click" hx-swap="outerHTML" hx-target="#main">
            View Schedule
        </button>

        <button hx-get="/time_off" hx-trigger="click" hx-swap="outerHTML" hx-target="#main">
            Request Time Off
        </button>
    </div>
</body>
</html>