<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- HTMX Script -->
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</head>
<body>
    <div id="main">
        <form hx-post="/register" hx-trigger="submit" hx-ext="json-enc">
            <label for="fName">Name</label>
            <input id="fName" type="text" name="fName" />

            <label for="lName">Last name</label>
            <input id="lName" type="text" name="lName" />

            <label for="user_email">Email</label>
            <input id="user_email" type="email" name="email" />

            <label for="username">Username</label>
            <input id="username" type="text" name="username"/>

            <label for="user_password">Password</label>
            <input id="user_password" type="password" name="password"/>

            <button type="submit">Submit</button>
            <button hx-get="/login" hx-trigger="click" hx-swap="outerHTML" hx-target="#main">Login</button>
        </form>
    </div>
</body>
</html>