<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- HTMX Script -->
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <form>
            <label>Name</label>
            <input type="text" name="fName" value="fName"/>

            <label>Last name</label>
            <input type="text" name="lName" value="lName"/>

            <label>Email</label>
            <input type="email" name="email" value="email"/>

            <label>Username</label>
            <input type="text" name="username" value="username"/>

            <label>Password</label>
            <input type="password" name="password" value="password"/>

            <button type="submit" hx-post="/register" hx-trigger="click">Submit</button>
        </form>
    </div>
</body>
</html>